<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            width: 100px;
            height: 100px;
            background: blue;
        }
        a {
            width: 100px;
            height: 100px;
            background: yellow;
        }
    </style>
</head>
<body>
<!--
display:
+ block: chiếm toàn bộ phần ngang, chỉnh sửa được w, h
+ inline: chiếm vừa đủ nội dung
+ inline-block: chỉnh sửa được w, h + chiếm vừa đủ nội dung
-->
<div>A</div>
<div>B</div>
<a href="">a</a>
<a href="">b</a>
<img src="" alt="">
</body>
</html>
