<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="ex2.css">
</head>
<body>
<div class="head">
    <div class="logo"></div>
    <div class="banner"></div>
</div>
<div class="nav"></div>
<div class="main">
    <div class="left">
        <div class="left_item"></div>
        <div class="left_item"></div>
    </div>
    <div class="mid">
        <div class="mid_top">
            <div class="mid_top_item"></div>
            <div class="mid_top_item"></div>
        </div>
        <div class="mid_bot">
            <div class="mid_bot_item"></div>
            <div class="mid_bot_item"></div>
            <div class="mid_bot_item"></div>
            <div class="mid_bot_item"></div>
            <div class="mid_bot_item"></div>
            <div class="mid_bot_item"></div>
        </div>
    </div>
    <div class="right"></div>
</div>
<div class="footer"></div>

</body>
</html>
